#wagonImage {
    text-align: center;
    position: relative;
    padding-left: 42%;
}
#body{
    background-color: black;
}
#headerOne {
    text-align: center;
    text-decoration: underline;
    font-weight: 300;
    color: rgb(161, 247, 33);
    padding: 3%;

}

.gameInfo {
    

    text-shadow: black;
    font-weight: 100;
    font-size: 20px;
    color: greenyellow;
    padding-left: 2%;
    border: 1px solid;
    border-radius: 5ch;
    padding: 1ch;
   
}
#terminal {
    size: 20px;
}